.container-change-password{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    display: flex;
    
    padding-left: 2em;
    margin-top: 12vh;
    height: 100vh;
}
.error p {
    font-size: 3em;
    font-weight: bold;
    
}   

