.popover {
    position: relative;
    display: inline-block;
    
  }
  
  .visibility-popover {
    visibility: hidden;
    background-color: #007bc7;
    height: 11vh;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
  
  }
  
  .visibility-popover p {
    font-weight: lighter;
    font-size: 0.9rem;
  
  }
  
  #txt-popover {
    color: #ffffff;
  
  }
  
  .popover-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    border-radius: 8px;
    width: 250px;
    max-width: 90vw;
    z-index: 100;
  }
  
  .popover-content p {
    margin: 0 0 1rem;
    /* Espaciado entre párrafos */
    color: #333;
    font-size: 0.875rem;
  }
  
  .popover-content .hr-custom {
    border: none;
    height: 1.5px;
    background-color: rgb(206, 206, 206);
    margin: 20px 0;
  }
  
  .popover-content button {
    display: block;
    width: 100%;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 0.875rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  .popover-content button:hover{
    background-color:rgb(206, 206, 206) ;
  }
  
 
  
  .popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 50;
  }
  